<a href="https://colab.research.google.com/github/ClaudioFritzen/Relatorio_do_dolar_Ibovespa/blob/main/relatorio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafio Gerar um relatorio que chegue todos os dias na caixa de entrada do email com o fechamento do IBOVESPA e Dólar!

# Passo 1 - Importar os módulos e bibliotecas.
# Passo 2 - Pegar dados do Ibovespa e do Dólar no Yahoo Finance

# Passo 3 - Manipular os dados para deixa-los nos formatos necessários

# Passo 4 - Calcular o retorno diário, mensal e anual.

# Passo 5 - Localizar, dentro das tabelas de retornos, os valores de fechamento de mercado que irão pro texto anexado no e-mail.

# Passo 6 - Fazer os gráficos de ativos

# Passo 7 - Enviar o e-mail.

In [ ]:
!pip install yfinance==0.1.74
!pip install mplcyberpunk
#!pip install pywin32

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance==0.1.74
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (4.9.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 3.9 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance==0.1.74) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance==0.1.74) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance==0.1.74) (1.15.0)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
Successfully installed requests-2.28.2 yfinance-0.1.74
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mplcyberpunk
  Downloading mplcyberpunk-0.6.0-py3-none-any.whl (6.0 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from mplcyberpunk) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->mplcyberpunk) (1.15.0)
Installing collected packages: mplcyberpunk
Successfully installed mplcyberpunk-0.6.0

In [ ]:
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datetime
  Downloading DateTime-5.0-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 KB 2.8 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-5.5.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (261 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 261.4/261.4 KB 9.4 MB/s eta 0:00:00
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from datetime) (2022.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from zope.interface->datetime) (57.4.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.0 zope.interface-5.5.2

In [ ]:
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
import pandas as pd
import datetime 
import yfinance as yf
#from matplotlib import pyploy as plt
import mplcyberpunk
#import win32com.client as win32

In [ ]:
#from matplotlib import pyploy as plt

# Passo 2: Pegar dados no Yahoo Finance

In [ ]:
nome_das_pessoas = ['Deixa o like', 'Curti video']
print(nome_das_pessoas[1])

Curti video

In [ ]:
codigos_de_negociacao = ['^BVSP', 'BRL=X']

hoje = datetime.datetime.now()
um_ano_atras = hoje - datetime.timedelta(days = 365)

dados_mercado = yf.download(codigos_de_negociacao, um_ano_atras, hoje )
display(dados_mercado)

[*********************100%***********************]  2 of 2 completed

           Adj Close                   Close                    High  \
               BRL=X         ^BVSP     BRL=X         ^BVSP     BRL=X
Date
2022-02-14  5.249956  113807.00000  5.249956  113807.00000  5.263300
2022-02-15  5.214000  114660.00000  5.214000  114660.00000  5.219900
2022-02-16  5.157900  115181.00000  5.157900  115181.00000  5.184725
2022-02-17  5.135800  113528.00000  5.135800  113528.00000  5.180000
2022-02-18  5.170600  112768.00000  5.170600  112768.00000  5.175100
...              ...           ...       ...           ...       ...
2023-02-08  5.209300  109882.00000  5.209300  109882.00000  5.240100
2023-02-09  5.199500  107783.00000  5.199500  107783.00000  5.274000
2023-02-10  5.289500  108150.00000  5.289500  108150.00000  5.304566
2023-02-13  5.213483  108846.00000  5.213483  108846.00000  5.221400
2023-02-14  5.182200  107948.65625  5.182200  107948.65625  5.228200

                                Low                     Open                 \
                    ^BVSP     BRL=X          ^BVSP     BRL=X          ^BVSP
Date
2022-02-14  114167.000000  5.195300  113358.000000  5.250500  113643.000000
2022-02-15  114819.000000  5.166288  113882.000000  5.213700  113905.000000
2022-02-16  115734.000000  5.143800  114816.000000  5.158000  114830.000000
2022-02-17  115214.000000  5.121471  113389.000000  5.133567  115181.000000
2022-02-18  114213.000000  5.116900  112701.000000  5.168756  113534.000000
...                   ...       ...            ...       ...            ...
2023-02-08  110175.000000  5.164117  107830.000000  5.209300  107832.000000
2023-02-09  110046.000000  5.170100  107781.000000  5.199500  109952.000000
2023-02-10  108647.000000  5.225173  107620.000000  5.289500  108002.000000
2023-02-13  109193.000000  5.159000  107420.000000  5.213483  108074.000000
2023-02-14  109564.109375  5.121700  107557.070312  5.159600  108838.523438

           Volume
            BRL=X       ^BVSP
Date
2022-02-14      0  10757600.0
2022-02-15      0  11649600.0
2022-02-16      0  12052100.0
2022-02-17      0  10807500.0
2022-02-18      0  11300700.0
...           ...         ...
2023-02-08      0  13837000.0
2023-02-09      0  12956000.0
2023-02-10      0  14458000.0
2023-02-13      0   9973600.0
2023-02-14      0         0.0

[262 rows x 12 columns]

# Passo 3.1 Manipulando os dados - seleção e exclusão de dados

In [ ]:
dados_fechamento = dados_mercado['Adj Close']
dados_fechamento.columns = [ 'dolar', 'ibovespa']


# tratamento de dados 
# excluindo os dados ausentes na tabela
dados_fechamento = dados_fechamento.dropna()

dados_fechamento.head(50)
#dados_fechamento

               dolar  ibovespa
Date
2022-02-14  5.249956  113807.0
2022-02-15  5.214000  114660.0
2022-02-16  5.157900  115181.0
2022-02-17  5.135800  113528.0
2022-02-18  5.170600  112768.0
2022-02-21  5.137500  111725.0
2022-02-22  5.102700  112892.0
2022-02-23  5.057100  112008.0
2022-02-24  5.008700  111592.0
2022-02-25  5.122200  113142.0
2022-03-02  5.159000  115174.0
2022-03-03  5.096503  115166.0
2022-03-04  5.030900  114474.0
2022-03-07  5.060560  111593.0
2022-03-08  5.110500  111203.0
2022-03-09  5.058800  113900.0
2022-03-10  5.011500  113663.0
2022-03-11  5.009700  111713.0
2022-03-14  5.073500  109928.0
2022-03-15  5.121400  108959.0
2022-03-16  5.163200  111112.0
2022-03-17  5.073875  113076.0
2022-03-18  5.039400  115311.0
2022-03-21  5.017800  116155.0
2022-03-22  4.935200  117272.0
2022-03-23  4.910000  117457.0
2022-03-24  4.824200  119053.0
2022-03-25  4.826300  119081.0
2022-03-28  4.736900  118738.0
2022-03-29  4.764100  120014.0
2022-03-30  4.756200  120260.0
2022-03-31  4.769700  119999.0
2022-04-01  4.737800  121570.0
2022-04-04  4.657200  121280.0
2022-04-05  4.593800  118885.0
2022-04-06  4.650700  118228.0
2022-04-07  4.715200  118862.0
2022-04-08  4.752100  118322.0
2022-04-11  4.698100  116953.0
2022-04-12  4.693600  116147.0
2022-04-13  4.673100  116782.0
2022-04-14  4.690200  116182.0
2022-04-18  4.700600  115687.0
2022-04-19  4.652000  115057.0
2022-04-20  4.665000  114344.0
2022-04-22  4.620800  111078.0
2022-04-25  4.795200  110685.0
2022-04-26  4.876200  108213.0
2022-04-27  4.997800  109349.0
2022-04-28  4.963600  109919.0

Passo 3.2 Manipulando os dados - Criando tabelas com outro timeframes

In [ ]:
# q = quarter m, Y
dados_anuais = dados_fechamento.resample("Y").last()
#dados_anuais

dados_mensais = dados_fechamento.resample('M').last()
dados_mensais

             dolar      ibovespa
Date
2022-02-28  5.1222  113142.00000
2022-03-31  4.7697  119999.00000
2022-04-30  4.9378  107876.00000
2022-05-31  4.7524  111351.00000
2022-06-30  5.1809   98542.00000
2022-07-31  5.1827  103165.00000
2022-08-31  5.1219  109523.00000
2022-09-30  5.3962  110037.00000
2022-10-31  5.2885  116037.00000
2022-11-30  5.2682  112486.00000
2022-12-31  5.2668  110031.00000
2023-01-31  5.1149  113532.00000
2023-02-28  5.1822  107948.65625

# Passo 4 - Calcular fechamento do dia, retorno no ano e retorno no mês dos ativos.

In [ ]:
retorno_anual = dados_anuais.pct_change().dropna()

retorno_mensal = dados_mensais.pct_change().dropna()
retorno_mensal

               dolar  ibovespa
Date
2022-03-31 -0.068818  0.060605
2022-04-30  0.035243 -0.101026
2022-05-31 -0.037547  0.032213
2022-06-30  0.090165 -0.115033
2022-07-31  0.000347  0.046914
2022-08-31 -0.011731  0.061629
2022-09-30  0.053554  0.004693
2022-10-31 -0.019959  0.054527
2022-11-30 -0.003839 -0.030602
2022-12-31 -0.000266 -0.021825
2023-01-31 -0.028841  0.031818
2023-02-28  0.013158 -0.049179

In [ ]:
# diario
retorno_diario = dados_fechamento.pct_change().dropna()
print(f'Seu retorno diario {retorno_diario}')
retorno_diario

Seu retorno diario                dolar  ibovespa
Date
2022-02-15 -0.006849  0.007495
2022-02-16 -0.010760  0.004544
2022-02-17 -0.004285 -0.014351
2022-02-18  0.006776 -0.006694
2022-02-21 -0.006402 -0.009249
...              ...       ...
2023-02-08  0.012360  0.018180
2023-02-09 -0.001881 -0.019102
2023-02-10  0.017309  0.003405
2023-02-13 -0.014371  0.006436
2023-02-14 -0.006000 -0.008244

[251 rows x 2 columns]

               dolar  ibovespa
Date
2022-02-15 -0.006849  0.007495
2022-02-16 -0.010760  0.004544
2022-02-17 -0.004285 -0.014351
2022-02-18  0.006776 -0.006694
2022-02-21 -0.006402 -0.009249
...              ...       ...
2023-02-08  0.012360  0.018180
2023-02-09 -0.001881 -0.019102
2023-02-10  0.017309  0.003405
2023-02-13 -0.014371  0.006436
2023-02-14 -0.006000 -0.008244

[251 rows x 2 columns]

# Passo 5 - Localizar o fechamento do dia anterior, retorno no mês e retorno no ano

In [ ]:
# loc  -> referenciar elementos a partir do nome
# iloc -> selecionar elementos como uma matriz

dia_08_fevereiro = retorno_diario.loc['2023-02-08', 'dolar']
dia_08_fevereiro = dia_08_fevereiro * 100
print(dia_08_fevereiro)

retorno_ibov = retorno_diario.iloc[-1, 1]
print(retorno_ibov)

1.2359846784196327
-0.008244159179023547

In [ ]:

# retorno diario
retorno_diario_dolar = retorno_diario.iloc[-1, 0]
retorno_diario_ibov = retorno_diario.iloc[-1, 1]


print(f'Ultima atualização do dolar no dia {retorno_diario_dolar * 100}')
print(f'Ultima atualização do IBOVESPA no dia {retorno_diario_ibov * 100}')

Ultima atualização do dolar no dia -0.6000384507529488
Ultima atualização do IBOVESPA no dia -0.8244159179023547

In [24]:
retorno_mensal_dolar = retorno_mensal.iloc[-1, 0]
retorno_mensal_ibovespa = retorno_mensal.iloc[-1, 1]

print(f'Cotação do $ dolar no último mês {retorno_mensal_dolar}')
print(f'Cotação da IBOVESPA no último mês {retorno_mensal_ibovespa}')
#retorno_mensal_dolar
#retorno_mensal_ibovespa

Cotação do $ dolar no último mês 0.013157606474968997
Cotação da IBOVESPA no último mês -0.0491785906176232

In [27]:
retorno_anual_dolar = retorno_anual.iloc[-1, 0]
retorno_anual_ibovespa = retorno_anual.iloc[-1, 1]
retorno_anual_ibovespa
#retorno_anual_dolar

-0.018925064300060912