Desafio Gerar um relatorio que chegue todos os dias na caixa de entrada do email com o fechamento do IBOVESPA e Dólar!

# Passo 1 - Importar os módulos e bibliotecas.
# Passo 2 - Pegar dados do Ibovespa e do Dólar no Yahoo Finance

# Passo 3 - Manipular os dados para deixa-los nos formatos necessários

# Passo 4 - Calcular o retorno diário, mensal e anual.

# Passo 5 - Localizar, dentro das tabelas de retornos, os valores de fechamento de mercado que irão pro texto anexado no e-mail.

# Passo 6 - Fazer os gráficos de ativos

# Passo 7 - Enviar o e-mail.

In [30]:
!pip install yfinance==0.1.74
!pip install mplcyberpunk
#!pip install pywin32

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance==0.1.74 in /usr/local/lib/python3.8/dist-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (2.28.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (4.9.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance==0.1.74) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance==0.1.74) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance==0.1.74) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance==0.1.74) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance==0.1.74) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mplcyberpunk in /usr/local/lib/python3.8/dist-packages (0.6.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from mplcyberpunk) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->mplcyberpunk) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->mplcyberpunk) (1.15.0)

In [31]:
!pip install datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: datetime in /usr/local/lib/python3.8/dist-packages (5.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from datetime) (2022.7.1)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.8/dist-packages (from datetime) (5.5.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from zope.interface->datetime) (57.4.0)

In [32]:
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [33]:
import pandas as pd
import datetime 
import yfinance as yf
#from matplotlib import pyploy as plt
import mplcyberpunk
#import win32com.client as win32

In [34]:
#from matplotlib import pyploy as plt

# Passo 2: Pegar dados no Yahoo Finance

In [35]:
nome_das_pessoas = ['Deixa o like', 'Curti video']
print(nome_das_pessoas[1])

Curti video

In [36]:
codigos_de_negociacao = ['^BVSP', 'BRL=X']

hoje = datetime.datetime.now()
um_ano_atras = hoje - datetime.timedelta(days = 365)

dados_mercado = yf.download(codigos_de_negociacao, um_ano_atras, hoje )
display(dados_mercado)

[*********************100%***********************]  2 of 2 completed

           Adj Close                    Close                   High  \
               BRL=X          ^BVSP     BRL=X          ^BVSP   BRL=X
Date
2022-02-09  5.258400  112461.000000  5.258400  112461.000000  5.2880
2022-02-10  5.234500  113359.000000  5.234500  113359.000000  5.2446
2022-02-11  5.248700  113572.000000  5.248700  113572.000000  5.2512
2022-02-14  5.249956  113807.000000  5.249956  113807.000000  5.2633
2022-02-15  5.214000  114660.000000  5.214000  114660.000000  5.2199
...              ...            ...       ...            ...     ...
2023-02-03  5.049200  108490.000000  5.049200  108490.000000  5.1347
2023-02-06  5.149800  108456.000000  5.149800  108456.000000  5.2060
2023-02-07  5.145700  107920.000000  5.145700  107920.000000  5.2057
2023-02-08  5.209300  109882.000000  5.209300  109882.000000  5.2401
2023-02-09  5.291100  108008.046875  5.291100  108008.046875  5.2932

                                Low                    Open                \
                    ^BVSP     BRL=X         ^BVSP     BRL=X         ^BVSP
Date
2022-02-09  113163.000000  5.232774  111710.00000  5.256489  112233.00000
2022-02-10  113812.000000  5.170000  112163.00000  5.231429  112462.00000
2022-02-11  114899.000000  5.182800  113128.00000  5.248600  113368.00000
2022-02-14  114167.000000  5.195300  113358.00000  5.250500  113643.00000
2022-02-15  114819.000000  5.166288  113882.00000  5.213700  113905.00000
...                   ...       ...           ...       ...           ...
2023-02-03  110570.000000  5.046758  108185.00000  5.049200  110141.00000
2023-02-06  108710.000000  5.147992  107416.00000  5.149800  108518.00000
2023-02-07  109037.000000  5.133384  107234.00000  5.145700  108727.00000
2023-02-08  110175.000000  5.164117  107830.00000  5.209300  107832.00000
2023-02-09  110045.921875  5.172000  107766.59375  5.196600  109951.96875

           Volume
            BRL=X       ^BVSP
Date
2022-02-09      0  13794500.0
2022-02-10      0  13267900.0
2022-02-11      0  18602800.0
2022-02-14      0  10757600.0
2022-02-15      0  11649600.0
...           ...         ...
2023-02-03      0  13235300.0
2023-02-06      0  11514600.0
2023-02-07      0  12956300.0
2023-02-08      0  13837000.0
2023-02-09      0         0.0

[262 rows x 12 columns]

# Passo 3.1 Manipulando os dados - seleção e exclusão de dados

In [37]:
dados_fechamento = dados_mercado['Adj Close']
dados_fechamento.columns = [ 'dolar', 'ibovespa']


# tratamento de dados 
# excluindo os dados ausentes na tabela
dados_fechamento = dados_fechamento.dropna()

dados_fechamento.head(50)
#dados_fechamento

               dolar  ibovespa
Date
2022-02-09  5.258400  112461.0
2022-02-10  5.234500  113359.0
2022-02-11  5.248700  113572.0
2022-02-14  5.249956  113807.0
2022-02-15  5.214000  114660.0
2022-02-16  5.157900  115181.0
2022-02-17  5.135800  113528.0
2022-02-18  5.170600  112768.0
2022-02-21  5.137500  111725.0
2022-02-22  5.102700  112892.0
2022-02-23  5.057100  112008.0
2022-02-24  5.008700  111592.0
2022-02-25  5.122200  113142.0
2022-03-02  5.159000  115174.0
2022-03-03  5.096503  115166.0
2022-03-04  5.030900  114474.0
2022-03-07  5.060560  111593.0
2022-03-08  5.110500  111203.0
2022-03-09  5.058800  113900.0
2022-03-10  5.011500  113663.0
2022-03-11  5.009700  111713.0
2022-03-14  5.073500  109928.0
2022-03-15  5.121400  108959.0
2022-03-16  5.163200  111112.0
2022-03-17  5.073875  113076.0
2022-03-18  5.039400  115311.0
2022-03-21  5.017800  116155.0
2022-03-22  4.935200  117272.0
2022-03-23  4.910000  117457.0
2022-03-24  4.824200  119053.0
2022-03-25  4.826300  119081.0
2022-03-28  4.736900  118738.0
2022-03-29  4.764100  120014.0
2022-03-30  4.756200  120260.0
2022-03-31  4.769700  119999.0
2022-04-01  4.737800  121570.0
2022-04-04  4.657200  121280.0
2022-04-05  4.593800  118885.0
2022-04-06  4.650700  118228.0
2022-04-07  4.715200  118862.0
2022-04-08  4.752100  118322.0
2022-04-11  4.698100  116953.0
2022-04-12  4.693600  116147.0
2022-04-13  4.673100  116782.0
2022-04-14  4.690200  116182.0
2022-04-18  4.700600  115687.0
2022-04-19  4.652000  115057.0
2022-04-20  4.665000  114344.0
2022-04-22  4.620800  111078.0
2022-04-25  4.795200  110685.0

Passo 3.2 Manipulando os dados - Criando tabelas com outro timeframes

In [38]:
# q = quarter m, Y
dados_anuais = dados_fechamento.resample("Y").last()
#dados_anuais

dados_mensais = dados_fechamento.resample('M').last()
dados_fechamento

               dolar       ibovespa
Date
2022-02-09  5.258400  112461.000000
2022-02-10  5.234500  113359.000000
2022-02-11  5.248700  113572.000000
2022-02-14  5.249956  113807.000000
2022-02-15  5.214000  114660.000000
...              ...            ...
2023-02-03  5.049200  108490.000000
2023-02-06  5.149800  108456.000000
2023-02-07  5.145700  107920.000000
2023-02-08  5.209300  109882.000000
2023-02-09  5.291100  108008.046875

[252 rows x 2 columns]

# Passo 4 - Calcular fechamento do dia, retorno no ano e retorno no mês dos ativos.

In [39]:
retorno_anual = dados_anuais.pct_change().dropna()

retorno_mensal = dados_mensais.pct_change().dropna()
retorno_diario = dados_fechamento.pct_change().dropna()
retorno_diario

               dolar  ibovespa
Date
2022-02-10 -0.004545  0.007985
2022-02-11  0.002713  0.001879
2022-02-14  0.000239  0.002069
2022-02-15 -0.006849  0.007495
2022-02-16 -0.010760  0.004544
...              ...       ...
2023-02-03 -0.000851 -0.013144
2023-02-06  0.019924 -0.000313
2023-02-07 -0.000796 -0.004942
2023-02-08  0.012360  0.018180
2023-02-09  0.015703 -0.017054

[251 rows x 2 columns]

# Passo 5 - Localizar o fechamento do dia anterior, retorno no mês e retorno no ano

In [40]:
# loc  -> referenciar elementos a partir do nome
# iloc -> selecionar elementos como uma matriz

dia_08_fevereiro = retorno_diario.loc['2023-02-08', 'dolar']
dia_08_fevereiro = dia_08_fevereiro * 100
print(dia_08_fevereiro)

retorno_ibov = retorno_diario.iloc[-1, 1]
print(retorno_ibov)

1.2359846784196327
-0.01705423203982459

In [45]:

# retorno diario
retorno_diario_dolar = retorno_diario.iloc[-1, 0]
retorno_diario_ibov = retorno_diario.iloc[-1, 1]


retorno_mensal_dolar = retorno_mensal[-1, 0]
retorno_mensal_IBOVESPA = retorno_mensal[-1, 1]



print(f'Ultima atualização do dolar no dia {retorno_diario_dolar * 100}')
print(f'Ultima atualização do IBOVESPA no dia {retorno_diario_ibov * 100}')

KeyError: ignored